<html>
  <title>Login</title>
  <body>
  <form method="post" name="MY Form" action="home">
    userid<input id="username" type="text" name="username">
    <br>
    password<input id="password" type="password" name="password">
    <br>
    <input type="submit" name="button1"value="login">
  </form>
  </body>
</html>
